/* ----------------------- Recommandations Module ----------------------- */
.dashbord__module--recommandations {
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 5px 100px 5px 5px;
}
@media only screen and (max-width: 1400px) {
  .dashbord__module--recommandations {
    border-radius: 5px 5px 5px 5px;
  }
}
@media only screen and (max-width: 950px) {
  .dashbord__module--recommandations {
    border-radius: 30px 30px 30px 30px;
  }
}
.dashbord__module__content--recommandations {
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: start;
}

.recommandations-container {
  width: 65px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: top;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.recommandations-container1 {
  background-image: url(../assets/vegetable_icons/Carrot.png);
}
.recommandations-container2 {
  background-image: url(../assets/vegetable_icons/Tomato.png);
}
.recommandations-container3 {
  background-image: url(../assets/vegetable_icons/Cabbage.png);
}
.recommandations-container4 {
  background-image: url(../assets/vegetable_icons/Peas.png);
}
.recommandations-container5 {
  background-image: url(../assets/vegetable_icons/Beet.png);
}
.recommandations-container6 {
  background-image: url(../assets/vegetable_icons/Spinach.png);
}

.recommandations-container__vegetable-name {
  width: 100%;
  text-align: center;
}
